@page "/home"
@using Components.Swiper
@inject IJSRuntime JsRuntime
@inject CustomHttpClient HttpClient
@implements IAsyncDisposable

    <!-- Home -->
        <div class="dz-appbar" style='background-image: url("assets/images/home/banner.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center center'>
            <div class="dz-overlay">
                <div class="dz-btn-grp dz-flex-style" style="padding-left: 203px; visibility: hidden">
                    <div class="dz-heading">
                        <h2 id="hiddenTextField">Mobile Component</h2>
                        <p>Make your best mobile design</p>
                    </div>
                </div>
                <a href="#!" class="dz-logo"><p style="height: 70px;"></p></a>
                <form action="#">
                    <input type="text" placeholder="Search Pranks" class="dz-search">
                    <div class="dz-icon">
                        <i class="dz-icon-search"></i>
                    </div>
                </form>
            </div>
        </div>
        <div class="dz-home-content">
            <div class="dz-card dz-flex-style">
                <div class="dz-text">
                    <p>🎉 Prankster Ya Está Aquí</p>
                    <h3 @onclick="@(() => throw new Exception())">Ha llegado <span>la nueva era</span> de las bromas telefónicas. No pares de reír con los descuentos de lanzamiento</h3>
                    @*Add different messages when user haves free calls*@
                </div>
                <div class="dz-big-icon">
                    <i class="dz-icon-phone"></i>
                </div>
            </div>
            <div class="dz-trend">
                <div class="dz-title dz-flex-style">
                    <h2>Trending 🔥</h2>
                    <a href="">
                        view more
                        <i class="dz-icon-arrow-round-forward"></i>                          
                    </a>
                </div>
                <!-- slider 1 -->
                <div class="dz-slider-part dz-near swiper-container">
                    <div class="swiper-wrapper">

                        @* initial swiper-slides boxes *@
                        <div class="dz-item swiper-slide">
                             @(GetTrendingElement<SkeletonTrendingElement, TrendingElement>())
                        </div>
                        <div class="dz-item swiper-slide">
                             @(GetTrendingElement<SkeletonTrendingElement, TrendingElement>(1))
                        </div>
                         <div class="dz-item swiper-slide">
                             @(GetTrendingElement<SkeletonTrendingElement, TrendingElement>(2))
                        </div>
                         <div class="dz-item swiper-slide">
                             @(GetTrendingElement<SkeletonTrendingElement, TrendingElement>(3))
                        </div>

                        @* loaded after *@

                    </div>
                </div>
            </div>
            <div class="dz-title dz-flex-style dz-browse">
                <h2>New Pranks</h2>
                <a href="">
                    view all
                    <i class="dz-icon-arrow-forward"></i>                        
                </a>
            </div>
            <!-- list -->
            <ul class="dz-list">
                @(GetTrendingElement<SkeletonRecentElement, RecentElement>())

                @(GetTrendingElement<SkeletonRecentElement, RecentElement>(1))

                @(GetTrendingElement<SkeletonRecentElement, RecentElement>(2))

                @(GetTrendingElement<SkeletonRecentElement, RecentElement>(3))
            </ul>
            
        </div>

@code {
    IEnumerable<PrankDto> _trendingPranks;
    IEnumerable<PrankDto> _latestPranks;
    bool _isFetchingPranks;

    protected override async Task OnAfterRenderAsync(bool firstRender) {

        if (!firstRender)
        return;

        // load PranksterApp Javascript Core
        await JsRuntime.InvokeVoidAsync("loadScript", "./assets/js/script.js");

        // TODO: Check if user is on Ipad for bigger loading skeleton at swiper (mainly apply 2x Height)
    }

    protected override async Task OnInitializedAsync()
    {
        _isFetchingPranks = true;

        var response = await HttpClient.c.GetAsync("pranks/fetch");
        if (!response.IsSuccessStatusCode)
        {
            var apiError = await response.Content.ReadFromJsonAsync<ApiError>();
            string errorMessage = apiError?.Message;
            //todo

            return;
        }

        var homePranksObj = await response.Content.ReadFromJsonAsync<HomePranksDto>();
        if (homePranksObj.Trending is null || homePranksObj.Latest is null)
        {
            _isFetchingPranks = true;
            // maybe show error
            return;
        }

        _trendingPranks = homePranksObj.Trending;
        _latestPranks = homePranksObj.Latest;

        // preload images into link tag

        IEnumerable<string> trendingImageNames = _trendingPranks.Select(p => p.ImageName);
        IEnumerable<string> latestImageNames = _latestPranks.Select(p => p.ImageName);

        string[] imageNames = {};
        imageNames = trendingImageNames.Concat(latestImageNames).ToArray();

        await JsRuntime.InvokeVoidAsync("preloadImages", (object) imageNames);

        await Task.Delay(2000);
        _isFetchingPranks = false;

    }

    public async ValueTask DisposeAsync() =>
        await JsRuntime.InvokeVoidAsync("reloadJsDefer", "./assets/js/script.js", false);

    private RenderFragment GetTrendingElement<TSkeleton, TElement>(int elementIndex = 0) where TSkeleton : IComponent where TElement : IComponent
    {
        if (_isFetchingPranks)
            return b =>
            {
                b.OpenComponent<TSkeleton>(1);
                b.CloseComponent();
            };

        return b =>
        {
            IEnumerable<PrankDto> sourceList = typeof(TElement) == typeof(TrendingElement) ? _trendingPranks : _latestPranks;

            b.OpenComponent<TElement>(1);
            b.AddAttribute(2, "Name", sourceList.ElementAt(elementIndex).Name);
            b.AddAttribute(3, "Description", sourceList.ElementAt(elementIndex).Description);
            b.AddAttribute(4, "Premium", sourceList.ElementAt(elementIndex).Premium);
            b.AddAttribute(5, "ImageName", sourceList.ElementAt(elementIndex).ImageName);
            b.CloseComponent();
        };
    }

}