<Router AppAssembly="@GetType().Assembly">
	<Found Context="routeData">
		<LayoutView Layout="@typeof(MainLayout)">
			<TransitionableRoutePrimary RouteData="@routeData" ForgetStateOnTransition="true" TransitionDurationMilliseconds="200">
              <AuthorizeTransitionableRouteView DefaultLayout="@typeof(TransitionableLayout)" />
			</TransitionableRoutePrimary>

			<TransitionableRouteSecondary RouteData="@routeData" ForgetStateOnTransition="true" TransitionDurationMilliseconds="200" >
              <AuthorizeTransitionableRouteView DefaultLayout="@typeof(TransitionableLayout)" />
			</TransitionableRouteSecondary>
		  </LayoutView>
	</Found>
	<NotFound>
		<LayoutView Layout="@typeof(MainLayout)">
			<p>Sorry, there's nothing at this address.</p>
		</LayoutView>
	</NotFound>
</Router>
